<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="title" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/media/css/content.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/media/css/catalog.css" type="text/css" media="screen, projection" />

<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="/media/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  /* EXAMPLE */
  DD_belatedPNG.fix('#subMenu ul li a, .inner_round, #basketMenu a');

  /* string argument can be any CSS selector */
  /* .png_bg example is unnecessary */
  /* change it to what suits you! */
</script>
<![endif]-->

{#<script type="text/javascript" src="/media/js/jquery.autocomplete-min.js"></script>#}
{#<script type="text/javascript" src="/media/js/jquery.gmap-1.1.0-min.js"></script>#}
{#<script type="text/javascript" src="/media/js/common.js"></script>#}

<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/media/images/favicon.ico" type="image/x-icon">


<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/jquery.form.js"></script>
<script type="text/javascript" src="/media/js/scripts.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        toggleSearchPanel();
    });
</script>

