{% extends 'base_accounts.html' %}
{% load accounts_extras %}

{% block title %} Восстановление пароля |{% endblock %}

{% block subMenu %}
    <ul>
        <li><a href="/groups/"><span>По каталогу</span></a></li>
        <li><a href="/autopark-prod/"><span>По автомобилю</span></a></li>
        <li><a href="/brands/"><span>По бренду</span></a></li>
        <li><a href="#" class="toggleSearchPanel"><span>Расширеный поиск</span></a></li>
        <li><a href="/order/"><span>Заказать запчасть</span></a></li>
        <li><a href="/history/"><span>История поиска</span></a></li>
    </ul>
{% endblock %}

{% block static %}

{% endblock %}

{% block content %}
    {% include 'ext_messages.html' %}
        <div class="unitBox-Shadow" id="formRegistration">
            <form action="/password-reset/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="wrapper-blue">
                    <div class="clear"></div>
                    <h1>Что делать, если Вы забыли свой пароль?</h1>
                    <hr/>
                    <p>В форму ниже введите свое <b>имя пользователя</b>, указанное при регистрации, и через несколько минут на Ваш E-mail придет письмо с инструкциями для восстановления пароля.</p>
                    <br/>
                    <div class="ioPole">
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}: {{ field }}
                    {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="wrapper-grey">
                    <div style="text-align: center;"><br/>
                        <input type="submit" value="Восстановить пароль" />
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>

{% endblock %}
