{% extends 'base_accounts.html' %}
{% load accounts_extras %}

{% block title %} Изменение пароля |{% endblock %}

{% block subMenu %}
    <ul>
        <li><a href="/groups/"><span>По каталогу</span></a></li>
        <li><a href="/autopark-prod/"><span>По автомобилю</span></a></li>
        <li><a href="/brands/"><span>По бренду</span></a></li>
        <li><a href="#" class="toggleSearchPanel"><span>Расширеный поиск</span></a></li>
        <li><a href="/order/"><span>Заказать запчасть</span></a></li>
        <li><a href="/history/"><span>История поиска</span></a></li>
    </ul>
{% endblock %}

{% block static %}

{% endblock %}

{% block content %}
    {% include 'ext_messages.html' %}
        <div class="unitBox-Shadow" id="formRegistration">
            <form action="/password-reset-confirm/{{ confirm_code }}/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="wrapper-blue">
                    <div class="clear"></div>
                    <h1>Форма восстановления пароля</h1>
                    <hr/>
                    <p>В форму ниже введите <b>новый пароль</b>, он должен содержать не менее 6 и не более 30 символов: букв, цифр и знаков препинания.</p>
                    <br/>
                    <div class="ioPole">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1" class="required">Новый пароль </label>{{ form.new_password1 }}
                    </div >
                    <div class="ioPole">
                        {{ form.new_password2.errors }}
                            <label for="id_new_password2" class="required">Пароль ещё раз </label>{{ form.new_password2 }}
                    </div>
                    <div class="clear"></div>
                    <br/>
                </div>
                <div class="wrapper-grey">
                    <div style="text-align: center;"><br/>
                        <input type="submit" value="Изменить пароль" class="go_reg"/>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>

{% endblock %}
